[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypng = "*"
cython = "*"

# 1.19.4 is broken on Windows
numpy = "==1.19.3"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.9"